services:
  backend:
    build:
      context: .
      dockerfile: app/backend/Dockerfile
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: .
      dockerfile: app/frontend/Dockerfile
    ports:
      - "5173:80"
    restart: always
    depends_on:
      - backend
